{% extends "layout.html" %}
{% set active_page = "tables" %}
{% set visible_companies = obj.company_list %}
{% block title %}Index-{{obj.count}}{% endblock %}
{% block head %}
<!-- <script src="static/js/jquery.js"></script> -->
  {{ super() }}
{% endblock %}

{% block content %}
<div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Tables
                        </h1>
                    </div>
                </div>
                <div >
                    <button type="button" class="btn btn-success add_company">Add company</button>
                    <button type="button" class="btn btn-success generate_company">Generate data</button>
                    <img src="/static/image/ajax-loader.gif" class="loader">
                </div>

                <!-- /.row -->
                <ul class="nav nav-tabs" role="tablist" id="myTabs">
                    {% for company in visible_companies %}
                    <li role="presentation" {% if company.active == True %} class="active"{% endif %}>
                        <a href="#{{company.name}}" aria-controls="{{company.name}}" role="tab" data-toggle="tab" onclick="get_data('{{company.name}}')">{{company.title}}<!-- <i class="fa fa-times remove" comp-name="{{company.name}}"></i> --></a>

                    </li>
                    {% endfor %}
                </ul>
                <div class="tab-content">

                </div>

            </div>
            <!-- /.container-fluid -->

</div>



<script type="text/javascript">
$( document ).ready(function() {

    {% if visible_companies|length > 0 %}
        $.ajax({
          url: "/api/tables/{{visible_companies[0].name}}",
          method: "GET",
          contentType: "application/json",
          success: function(data, status, xsml){
            var source   = $("#entry-template").html();
            var template = Handlebars.compile(source);
            console.log(data['data'][0]);
            var html = template({'datas': data['data'][0]});
            $(".tab-content").append(html);

          },
          dataType: "json"
            }).done(function() {
                console.log("done");
                });
    {% endif %}


    $('.add_company').click(function(e){
        openPopup();
    });

    $('.close_btn').click(function(e){
       closePopup();
    });

    $('.add_btn').click(function(e){
        var comp = $('#company_name').val();
        var se = $('#se').val();
        $.ajax({
            type: "POST",
            url: "/api/companies/add",
            data: JSON.stringify({'data': {'name': comp, 'ex': se}}),
            contentType: "application/json; charset=utf-8",
            success: function(d) {
                data = $.parseJSON(d);
                data = $.parseJSON(data);
                console.log(data['status']);
                if(data['status']==0) {
                    var newLi = '<li role="presentation"><a href="#'+comp+'" aria-controls="'+comp+'" role="tab" data-toggle="tab" onclick=get_data("'+comp+'")'+'>'+comp+'</a></li>';
                    $('#myTabs').append($(newLi));
                }
                else {
                    toastr.error(data['message']);
                }
            }
         });
        closePopup();
    });

    $('.remove').click(function(e){
        e.stopPropagation();
        console.log(e);
        name = e.currentTarget.attributes['comp-name'].nodeValue;
        $.ajax({
            type: "POST",
            url: "/api/companies/remove",
            data: JSON.stringify({'data': {'name': name}}),
            contentType: "application/json; charset=utf-8",
            success: function(d) {
                data = $.parseJSON(d);
                data = $.parseJSON(data);
                if(data['status']!=0) {
                    toastr.error(data['message']);
                }
            }
         });
    });

    $('.generate_company').click(function(e){
        $('.add_company').attr('disabled', 'disabled');
        $('.generate_company').attr('disabled', 'disabled');
        $('.loader').fadeIn('fast');
        $.ajax({
            method: "get",
            url: "/api/data/generate",
            success: function(data) {
                $('.loader').fadeOut('fast');
                if(data=='1'){
                    toastr.success('New data generated successfully!', 'Success');
                }
                else {
                    toastr.error('Data was not inserted!', 'Error');
                }
            }}).done(function(){
            $('.loader').fadeOut('fast');
            $('.add_company').removeAttr('disabled');
            $('.generate_company').removeAttr('disabled');
        });
    });

    function closePopup(){
        $('#popup').fadeOut('fast');
        $('#wrapper').css({"opacity":1});
        clearPopup();
    }

    function clearPopup(){
        $('#company_name').val('');
        $('#se').val('');
    }


    function openPopup(){
        $('#popup').fadeIn('fast');
        $('#wrapper').css({"opacity":0.3});
    }

});

function get_data(company_name) {
    console.log("clicked");
    //console.log($(e.currentTarget).attr('aria-controls'));
    //company_name = $(this).attr('aria-controls');

    if($('#'+company_name).length == 0){
        $.ajax({
          url: "/api/tables/"+company_name,
          method: "GET",
          contentType: "application/json",
          success: function(data, status, xsml){
                var source   = $("#entry-template").html();
                var template = Handlebars.compile(source);
                var html = template({'datas': data['data'][0]});
                $('.tab-pane.fade.in').removeClass('active');
                $(".tab-content").append(html);
                $('.nav-tabs a[href="#' + company_name + '"]').show();
                $('.nav-tabs a[href="#' + company_name + '"]').tab('show');
          },
          dataType: "json"
      }).done(function() {
            console.log("done");
        });
  }
  else {
    $('.nav-tabs a[href="#' + company_name + '"]').tab('show');
  }  
   
}
</script>

<script id="entry-template" type="text/x-handlebars-template">
    {% raw %}
    {{#with datas}}
    <div role="tabpanel" class="tab-pane fade in active" id="{{company_name}}">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>{{title}}</h2>
            </div>
            <div class="panel-body">
                <div class="row">
                    {{#each data}}
                    <div class="col-lg-4">
                        <h3>{{report_type}}</h2>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>2014</th>
                                        <th>2013</th>
                                        <th>2012</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each data}}
                                    <tr>
                                        <td class="subtype">{{subtype}}</td>
                                    </tr>
                                        {{#each data}}
                                        <tr>
                                            <td>
                                                {{item_name}}
                                            </td>
                                            {{#each items}}
                                                <td>{{value}}</td>
                                            {{/each}}
                                        </tr>
                                        {{/each}}
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        <div>
    </div>
    {{/with}}
    {% endraw %}
</script>

{% endblock %}

